<div class="row">
    <div class="col-10 col-lg-7 mx-auto">
    <div class="mx-auto mt-5 mb-4 fs-2">
        My Portfolio
   </div>
    <div class="mx-auto mb-5 fs-3">Money in Wallet ${{getBalance() | number: "1.2-2"}} </div>

    <div>
    <ngb-alert class="mx-auto" *ngIf="buyMsg" type="success" class="text-center" (close)="buyMsg = ''">{{ ticker | uppercase }} bought successfully.</ngb-alert>
    <ngb-alert class="mx-auto" *ngIf="sellMsg" type="danger" class="text-center" (close)="sellMsg = ''">{{ ticker | uppercase }} sold successfully.</ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="isEmptyPortfolio()" class="text-center text-dark"
    >Currently you don't have any stock.
    </ngb-alert>
    </div>
    <div *ngFor="let info of getLocalStorage()">
        <div class="card my-4">

            <div class="card-header">
                <div class="row m-0">
                    <div class="card-title mx-2 p-1">
                        <span class="fs-4">{{info.ticker}} </span>  <span class="fs-5" style="color:#7B828A">{{info.companyName}} </span>
                    </div>
                </div>
            </div>
            <div class="card-body">


                <div class="row mx-auto fs-6">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                        <div class="col-6">
                            <div class="row">
                                 Quantity: </div>
                            <div class="row"> Avg. Cost / Share: </div>
                            <div class="row"> Total Cost: </div> 
                        </div>

                        <div class="col-6">
                            <div class="row"> <div class="col-12 text-end">{{info.quantity | number: "1.2-2"}}</div></div>
                            <div class="row"> <div class="col-12 text-end"> {{info.avgCost | number: "1.2-2"}}</div> </div>
                            <div class="row"> <div class="col-12 text-end"> {{info.totalCost | number: "1.2-2"}}</div> </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                        <div class="col-6">
                            <div class="row">
                                Change: 
                            </div>
                            <div class="row"> Current Price: </div>
                            <div class="row"> Market Value: </div> 
                        </div>

                        <div class="col-6" [class.text-danger]="getChange(info.currentPrice, info.avgCost) < 0" [class.text-success]="info.currentPrice - info.avgCost > 0">
                            <div class="row"> 
                                <div class="col-12 text-end">
                                    <svg *ngIf="info.currentPrice - info.avgCost > 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                    </svg>
        
                                    <svg *ngIf="info.currentPrice - info.avgCost < 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                {{info.currentPrice - info.avgCost | number: "1.2-2"}}
                            </div>
                        </div>
                            <div class="row"> <div class="col-12 text-end">{{info.currentPrice | number: "1.2-2"}}</div> </div>
                            <div class="row"> <div class="col-12 text-end"> {{info.currentPrice * info.quantity | number: "1.2-2"}}</div> </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-2">

                <div class="row m-0">
                    <div class="col-12">
                    <div class="d-flex justify-content-end">   
                        <div>
                            <button class="btn btn-primary px-lg-3 p-lg-2 px-2 p-1" type="submit" (click)="openBuyModal(info.ticker, info.currentPrice)">Buy</button>
                        </div>
    
                        <div> <button class="btn btn-primary btn-danger  px-lg-3 p-lg-2 ms-3 px-2 p-1" type="submit" (click)="openSellModal(info.ticker, info.currentPrice)">Sell </button>
                            
                    </div>

                    </div>
                </div>
                </div>

            </div>
          </div>
    </div>
</div>
</div>
