#logoInfo {
    width: 80px;
    height: 80px;
}

/* #flexCol {
    margin-left: 15%;
    margin-top: 6%;
    margin-right: 15%;
    @media only screen and (min-width : 320px) {
        margin-left: 10%;
        margin-right: 10%;
    }
} */

.starSign {
    width: 25px;
    height: 25px;
}
#peerLinks {
    text-decoration: none ;
}

/* #histChart {
    width: 100%; 
    height: 100%;
   display: block;
} */

/* #summaryChart {
    width: 50%; 
    height: 100%;
   display: block;
} */

@media screen and (max-width: 1000px) {
    .starSign {
        width: 20px;
        height: 20px;
    }

    #logoInfo {
        width: 45px;
        height: 45px;
    }
    #tickerCurr {
        font-size: 2em;
    }
}