<div class="text-center fs-2 my-5"> Social Sentiments</div>
<div class="row  mb-4">
<div id="tableInsights" class="col-lg-6 text-center mx-auto">
    <table class="table">
        <thead class="table-shadow">
          <tr>
            <th scope="col">{{companyName}}</th>
            <th scope="col">Reddit</th>
            <th scope="col">Twitter</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="table-shadow">Total Mentions</th>
            <td>{{totalMentionsReddit}}</td>
            <td>{{totalMentionsTwitter}}</td>
          </tr>
          <tr>
            <th scope="row" class="table-shadow">Positive Mentions</th>
            <td>{{positiveMentionsReddit}}</td>
            <td>{{positiveMentionsTwitter}}</td>
          </tr>
          <tr>
            <th scope="row" class="table-shadow">Negative Mentions</th>
            <td>{{negativeMentionsReddit}}</td>
            <td>{{negativeMentionsTwitter}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
<div class="row mx-auto">
    <div class="col-lg-6 col-12 mx-auto mb-3">

        <!-- <ng-template matTabContent>
          <div class="row"> -->
            <highcharts-chart [Highcharts] = "highcharts" [options] = "chartOptionsRec" id="recTrendsChart">
            </highcharts-chart>
          <!-- </div>
        </ng-template> -->

    </div>
    
    <div class="col-lg-6 col-12 mx-auto">


        <!-- <ng-template matTabContent>
          <div class="row"> -->
            <highcharts-chart [Highcharts] = "highcharts" [options] = "chartOptionsEarnings"  id="earningsChart">
            </highcharts-chart>
          <!-- </div>
        </ng-template> -->
    </div>
</div>
