<div>
    <div class="modal-header">
        <div class="modal-title col-12" id="modal-basic-title">
            <div class="row">
            <div class="col-6">
                <h2 class="m-0">{{ticker}}</h2>
            </div>
            <div class="col-6 text-end">
                <button type="button" class="btn-close" aria-label="Close" (click)="sellModalService.dismiss('Cross click')"></button>
            </div>
        </div>
        </div>


    </div>
    <div class="modal-body">
       <div class="my-2">
          Current Price: {{currPrice}}
       </div>
       <div class="my-2"> Money in Wallet: $ {{getBalance()}}</div>


    <div class="mt-2 mb-4">
        Quantity 
        <input type="number" [(ngModel)]="quantityVal" name="quantity" placeholder="0" min="0" step="1">
        <div  class="my-2" *ngIf="!quantityValidLess(quantityVal)" style="color:red">Quantity must be greater than 0!</div>
        <div  class="my-2" *ngIf="!quantityValidGreater(quantityVal)" style="color:red">Quantity must be less than the total quantity owned!</div>
        <div  class="my-2" *ngIf="!existsInPortfolio()" style="color:red">You cannot sell the stocks that you don't have!</div>
    </div>


    <div class="modal-footer px-0 mt-2">

        <div class="row col-12">


            <div class="col-6 m-0">
                <div class="m-0"> Total: {{ (quantityVal * currPrice || 0) | number: "1.2-2" }}</div>
            </div>
            <div class="col-6 text-end">

                <button class="btn btn-primary btn-success  px-lg-3 px-2 p-1" type="submit"
                [disabled] ="!quantityValidLess(quantityVal) || !quantityValidLess(quantityVal) || !existsInPortfolio() || !validInput(quantityVal)"(click)="removeBalance(currPrice, ticker, quantityVal)" (click)="sellModalService.dismiss('Cross click')">Sell</button>
            </div>
        </div>
         
    </div>
</div>